
//----------PRE FOOTER----------------//

#prefooter-container{
    background:#fff;
}

#prefooter{
@include grid-row();
padding: rem-calc(40) 0;   
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

}


//----------HARVEYS FOOTER-------------------------//

.harveys-footer-wrap{
clear:both;
background-color:$primary-color;
-moz-box-shadow: 0px -2px 2px #DCD5C6;
-webkit-box-shadow: 0px -2px 2px #DCD5C6;
box-shadow: 0px -2px 2px #DCD5C6;
}

#harveys-footer {
// add same markup as for div class=row    
@include grid-row();
    
border-top: 0px solid #ededed;
color:#F3F0ED;
margin-top: 0;
padding: rem-calc(40) 0;

    label{
        color:#F3F0ED;
    }
    
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
    a{
    color:#F3F0ED;
    }

    a:hover{
    color:#F3F0ED;
    text-decoration:none;
    }
    

    .social_media_wrap {
    margin-top:20px;
    }


    .social_media_entry {
    position: relative;
    }

    .social_media_txt {
    position: absolute;
    bottom: 18px;
    bottom: 1.28571428571rem;
    font-weight:bold;
    font-size:rem-calc(14);
    padding-left: 5px;
    padding-left: 0.35714285714rem;
    }

    .widget-title
    {
    color:#F3F0ED;
    }

    .widget {
    margin-bottom: rem-calc(40);
    }

    p.smallprint {
    font-size: 83%;
    line-height: 1.6;    
    }

    .newsletter p {
    margin-bottom: 10px;
    }
    
    input[type=submit]{
        background-color:#666666;
    }
    
    input[type=submit]:hover{
        background-color:#999999;
    }

    footer p {
    margin: 0 0 rem-calc(24);
    line-height: 1.714285714;
    }

}

// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(60);
	}
}
