#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	margin-top: rem-calc(60);

	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
}

//----------FOOTER-------------------------//

.harveys-foot-wrap{
clear:both;
background-color:$primary-color;
margin-top:rem-calc(60);
padding:rem-calc(40);
-moz-box-shadow: 0px -2px 2px #DCD5C6;
-webkit-box-shadow: 0px -2px 2px #DCD5C6;
box-shadow: 0px -2px 2px #DCD5C6;
}

footer {
border-top: 0px solid #ededed;
color:#F3F0ED;
margin-top: 0;
padding: 0px rem-calc(24);
}

footer a{
color:#F3F0ED;
}

footer a:hover{
color:#F3F0ED;
text-decoration:none;
}

footer .social_media_wrap {
margin-top:20px;
}


footer .social_media_entry {
position: relative;
}

footer .social_media_txt {
position: absolute;
bottom: 18px;
bottom: 1.28571428571rem;
font-weight:bold;
font-size:rem-calc(14);
padding-left: 5px;
padding-left: 0.35714285714rem;
}

footer .widget-title
{
color:#F3F0ED;
}

footer .widget {
margin-bottom: rem-calc(40);
}

footer p.smallprint {
font-size: 83%;
}

.newsletter p {
margin-bottom: 10px;
}

footer p {
margin: 0 0 rem-calc(24);
line-height: 1.714285714;
}



// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(60);
	}
}
