// Add some whitespace between top bar and content

.top-bar .name {
	h1 a { font-weight: 500; }
}

.top-bar a{
    text-decoration: none
}

.top-bar ul li.divider:first-child {
border-right: 0;
}

//-----------SECOND MENU-------//

.secondary-menu {
    margin-top:0.1rem;
}

.secondary-menu li a {
text-decoration: none;
color: #333;
font-size: 0.8125rem;
}

.secondary-menu li {
display: inline-block;
border-right: 1px dotted #d8d8d8;
margin: 0 8px 0 0;
margin: 0 rem-calc(8) 0 0;
padding: 0 8px 0 0;
padding: 0 rem-calc(8) 0 0;
}

.secondary-menu li:last-child {
border-right: none;
}