// Add some whitespace between top bar and content

.top-bar .name {
	h1 a { font-weight: 500; }
}

.top-bar a{
    text-decoration: none
}



//-----------SECOND MENU-------//

.secondary-menu {
    margin-top:0.5rem;
}

.secondary-menu li a {
text-decoration: none;
color: #333;
font-size: 0.8125rem;
}

.secondary-menu li {
display: inline-block;
margin: 0 10px 0 0;
margin: 0 0.7143rem 0 0;
border-right: 1px dotted #9e1b3c;
padding: 0 10px 0 0;
padding: 0 0.7143rem 0 0;
}